
 <div class= "row">

     <div class = "col-md-4">
       <a class= "btn-primary btn-lg btn-block" href=http://localhost:3000/matches >Matches</a>	
	</div>
	<div class = "col-md-4">
		<a class= "btn-primary btn-lg btn-block" href=http://localhost:3000/players >Players</a>	
	</div>

	<div class = "col-md-4">
		<a class= "btn-primary btn-lg btn-block" href=http://localhost:3000/ranking >Ranking</a>	
	</div>
</div>
