
@import "bootstrap-sprockets";
@import "bootstrap";

$table-breakpoint: 480px;
$table-background-color: #FFF;
$table-text-color: #024457;
$table-outer-border: 1px solid #2C9CC3;
$table-cell-border: 1px solid #D9E4E6;

$table-border-radius: 10px;
$table-highlight-color: #EAF3F3;
$table-header-background-color: #2C9CC3;
$table-header-text-color: #FFF;
$table-header-border: 1px solid #FFF;


.jumbotron {
  background-image:url('http://aaainflatables.co.uk/images/table_football/table_footbal_low.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius:10px;
  border-color: #2C9CC3;

  h1 {
  text-align: left;
  text-indent: 0px;
  }
}

.new a{
  
  color:white
}

a {
  text-align: center;
  color: $table-text-color;  
}



.btn-primary {
  font-size: 30px;
  color: white;
  background-color: #2C9CC3;
  border-color: #2C7CC3;
  text-align: center;
}
.btn-primary:hover, 
.btn-primary:focus,
.btn-primary:active {
  background-color: #6BBAD5;
  text-decoration: none;

}


.well {
  border-radius:10px;
    background-color: #2C9CC3;
    float: center;
}

.well h2 {
  color: white;
  text-align: center;
  font-size: 35px;

}





@mixin table(
  $breakpoint: $table-breakpoint,
  $background-color: $table-background-color,
  $text-color: $table-text-color,
  $outer-border: $table-outer-border,
  $cell-border: $table-cell-border,
  $border-radius: none,
  $highlight-color: none,
  $header-background-color: $table-background-color,
  $header-text-color: $table-text-color,
  $header-border: $table-cell-border) {
  
  table {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;  
    background: $background-color;
    color: $text-color;
    border-radius: $border-radius;
    border: $outer-border;
  
    tr {
      border: $cell-border; 
      &:nth-child(odd) { 
        background-color: $highlight-color;
      }  
    }
  
    th {
      
      border: $header-border;
      background-color: $header-background-color;
      color: $header-text-color;
      padding: 1em;  
    }
  
    td {
      display: block; // display the table data as one block for mobile
      word-wrap: break-word;
      max-width: 7em;
      &:first-child { 
        
        text-align: center;
        border-right: $cell-border;
      }
      @media (min-width: $breakpoint) {
        border: $cell-border;
      }
    }
  
    th, td {
      text-align: left;
      margin: .5em 1em;  
      @media (min-width: $breakpoint) {
        display: table-cell; 
        padding: 1em;
      }
    }  
  }    
}



@include table(
  $border-radius: $table-border-radius,
  $highlight-color: $table-highlight-color,
  $header-background-color: $table-header-background-color,
  $header-text-color: $table-header-text-color,
  $header-border: $table-header-border);



body {
  padding: 0 2em;
  font-family: Arial, sans-serif;
  color: #024457;
  background: #f2f2f2;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  color: #024457;
  span {color: #167F92;}
}